{{customer.cust_name}}

<button style="margin-left: 15px;" (click)="sendToEventForDeleteCustomer()" title="Supprimer"  class="float-right btn btn-outline-secondary btn-rounded btn-icon">
  <i class="mdi  mdi-close-circle-outline  text-danger"></i>
  </button>
  <button  style="margin-left: 15px;" title="Sortie" class="float-right btn btn-outline-warning btn-rounded btn-icon">
    <i class=" mdi  mdi mdi-clock-out  "></i>
  </button>
  <button  style="margin-left: 15px;" title="Modifier" class="float-right btn btn-info btn-rounded btn-icon">
    <i class="mdi  mdi-eye r"></i>
  </button>
  <button  style="margin-left: 15px;" title="Entrée"  class="float-right btn btn-outline-success btn-rounded btn-icon">
    <i class=" mdi mdi mdi-clock-in  "></i>
  </button>
  <li style="color: rgb(23, 187, 23);margin-left: 10px;margin-right: 10px;" class="float-left"></li>
