<nav class="bottom-navbar">
  <div class="container">
      <ul class="nav page-navigation">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="mdi mdi-view-dashboard  menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li  routerLinkActive="active" class="nav-item">
            <a routerLink="/my-account" class="nav-link">
              <i class="mdi mdi-account-key menu-icon"></i>
              <span class="menu-title">Mon Compte</span>
              <i class="menu-arrow"></i>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/agents" class="nav-link">
              <i class="mdi mdi-account-convert  menu-icon"></i>
              <span class="menu-title">Agents</span>
              <i class="menu-arrow"></i>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/customers" class="nav-link">
              <i class="mdi mdi-account-multiple-plus  menu-icon"></i>
              <span class="menu-title">Clients</span>
              <i class="menu-arrow"></i>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/rooms" class="nav-link">
              <i class="mdi mdi-domain menu-icon"></i>
              <span class="menu-title">Salles</span>
              <i class="menu-arrow"></i>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="mdi mdi-codepen menu-icon"></i>
              <span class="menu-title">Stock produit</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
                <ul class="submenu-item">
                    <li class="nav-item"><a class="nav-link" href="pages/samples/login.html">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/login-2.html">Login 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/register.html">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/register-2.html">Register 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/lock-screen.html">Lockscreen</a></li>
                </ul>
            </div>
        </li> -->
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/storage-products" class="nav-link">
              <i class="mdi  mdi mdi-flask-outline menu-icon"></i>
              <span class="menu-title">Stock produit</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/repports" class="nav-link">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title">Rapport</span></a>
        </li>
      </ul>
  </div>
</nav>
