<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="../../../assets/logov4.svg " width="200px" height="200px" alt="logo">
              </div>
              <h4>Bienvenu chère Admin !</h4>
              <h6 class="font-weight-light">Heureux de vous revoir ici </h6>
              
              <form (submit)="onSignIn($event)" class="pt-3">
               
                <div class="form-group">
                  <label for="exampleInputEmail">E-mail</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="email"  type="text" name="useremail" id="useremail" class="form-control form-control-lg border-left-0"  placeholder="Ex : monmail@gmail.com">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Mot de passe</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password"  name="userpassword" id="userpassword" class="form-control form-control-lg border-left-0"  placeholder="Ex : monmotdepasse">                        
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                   <!-- <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Se souvenir de moi.
                   
                    </label>
                    
                  </div>  -->
                  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
                  <!-- <a href="#" class="auth-link text-black">Se connecter</a> -->
                </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Se connecter</button>
                </div>
                <!-- <div class="mb-2 d-flex">
                  <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                    <i class="mdi mdi-facebook mr-2"></i>Facebook
                  </button>
                  <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                    <i class="mdi mdi-google mr-2"></i>Google
                  </button>
                </div> -->
                <!-- <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="register-2.html" class="text-primary">Create</a>
                </div> -->
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
             <h2 class="text-white text-center flex-grow align-self-center">Bienvenu,Nous Somme Ludic votre espace pour Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, fugit. Nam quis accusamus eum neque qui placeat quasi vel possimus reiciendis voluptas maiores aliquam mollitia omnis exercitationem, dolor ipsum magni!</h2>
            <!-- <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p> -->
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  