<div class="horizontal-menu">
  <app-header-top></app-header-top>
  <app-header-bottom></app-header-bottom>
</div>
<!-- <agent-modal-component></agent-modal-component> -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
     <div class="content-wrapper">
       <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Rechercher un agent" aria-label="search" aria-describedby="search">
            </div>
            </div>
       </div>
       <div class="row">
         <!-- <div>
           <h2 style="text-align: center;">Chargement...</h2>
           
         </div> -->
          <div class="col-lg-6 ">
              <div class="card">
           
                <div class="card-body">
                  <app-loading-spinner  *ngIf="showSpinner"></app-loading-spinner>
                  <div *ngIf="agents.length==0"><h2 style="text-align: center;">{{msgAgent}}</h2></div> 
                    <div *ngIf="agents.length!=0">
                      <h4 class="card-title">Liste des agents</h4>
                        <p class="card-description">
                          Nombre des agents <code>: {{nbrAgent}}</code>
                        </p>
                    </div>
                  <ul class="list-group mt-4">
                    <li class="list-group-item" *ngFor='let agent of agents'>
                      <app-agent-item [rooms]="rooms" (sendRequestToData)="onDeleteAgent($event)" [agent]="agent"></app-agent-item>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                  <div class="card-body">
                    
                    <h4 class="card-title"><i class="mdi mdi-account-multiple-plus  menu-icon icon-lg"></i> Agent</h4>
                    <form class="forms-sample" (submit)="onAddAgent($event)">

                     <div class="row">
                          <mat-form-field class="col-md-6">
                            <input type="text" matInput  placeholder="Matricule" id="matAgent"/>
                        </mat-form-field>
            
                        <mat-form-field class="col-md-6">
                              <input type="text" matInput class="form-control" id="nameAgent" placeholder="Nom">
                      </mat-form-field>
                     </div>
                      <div class="row">
                        <mat-form-field class="col-md-6">
                          <mat-label>Salle</mat-label>
                          <mat-select id="nameRoom">
                            <mat-option *ngFor="let room of rooms " [value]="room.room_code">{{room.room_name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                         <mat-form-field class="col-md-6">
                              <input type="text"  matInput  class="form-control" id="jobAgent" placeholder="Fonction">
                        </mat-form-field>
                      </div>
                      <div class="row">
                        <mat-form-field class="col-md-3">
                          <input matInput  id="dateNaissAgent" [matDatepicker]="picker" placeholder="Date Naissance">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col-md-3">
                          <input type="text"  matInput  class="form-control" id="telAgent" placeholder="Telephone">
                       </mat-form-field>

                        <mat-form-field class="col-md-6">
                          <input  type="email"   matInput class="form-control" id="emailAgent" placeholder="E-mail">
                       </mat-form-field>
                      </div>
                   

                      <!-- <button  mat-primary-button class="btn btn-primary mr-2">Enregistrer</button> -->
                      <button type="submit"  mat-raised-button color="primary">Enregistrer</button> &nbsp;
                      <button class="btn btn-danger">Effacer</button>
                    </form>
                  </div>
                </div>
          </div>
       </div>
    </div>
 </div>
</div>

