<div class="horizontal-menu">
  <app-header-top></app-header-top>
  <app-header-bottom></app-header-bottom>
</div>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
     <div class="content-wrapper">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search">
                <i class="mdi mdi-magnify"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Rechercher une salle" aria-label="search" aria-describedby="search">
        </div>
        </div>
      </div>
       <div class="row">
          <div class="col-lg-7 grid-margin ">
              <div class="card">
                <div class="card-body">
                  <app-loading-spinner  *ngIf="showSpinner"></app-loading-spinner>
                  <div *ngIf="customers.length==0"><h2 style="text-align: center;">{{msgCustomer}}</h2></div> 
                    <div *ngIf="customers.length!=0">
                      <h4 class="card-title">Liste des Clients</h4>
                        <p class="card-description">
                          Nombre des Client <code>: {{nbrCustomer}}</code>
                        </p>
                    </div>
                  <ul class="list-group mt-4">
                    <li class="list-group-item" *ngFor='let customer of customers'>
                      <app-customer-item (sendRequestToDataForDeleteCustomer)="onDeleteCustomer($event)" [customer]="customer"></app-customer-item>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="col-lg-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><i class="mdi mdi-account-multiple-plus  menu-icon icon-lg"></i> Client</h4>
                  <form class="forms-sample" (submit)="onAddCustomer($event)">
                    <div class="form-group row">
                      <label for="nameCustomer" class="col-sm-3 col-form-label">Nom *</label>
                      <div class="col-sm-9">
                        <input type="text" required class="form-control" id="nameCustomer" placeholder="Ex : Jean Le blanc">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="roomCustomer" class="col-sm-3 col-form-label">Salle</label>
                      <div class="col-sm-9">
                        <select class="form-control" style="color:black" name="" id="nameRoom">
                            <option value="" selected></option>
                            <option *ngFor="let room of rooms " [value]="room.room_code">{{room.room_name}}</option>
                        </select>
                      </div>
                    </div>
                   
                    <div class="form-group row">
                      <label for="dateNaissCustomer" class="col-sm-3 col-form-label">Date Naiss *</label>
                      <div class="col-sm-9">
                        <input required type="date" class="form-control" id="dateNaissCustomer">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="nationCustomer" class="col-sm-3 col-form-label">Nation</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="nationCustomer" placeholder="Ex : Informaticien">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="phoneCustomer" class="col-sm-3 col-form-label">Téléphone *</label>
                      <div class="col-sm-9">
                        <input required type="tel" class="form-control" id="phoneCustomer" placeholder="Ex : 08080909">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="emailCustomer" class="col-sm-3 col-form-label">E-mail </label>
                      <div class="col-sm-9">
                        <input  type="email" class="form-control" id="emailCustomer" placeholder="Ex : ">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="genderCustomer" class="col-sm-3 col-form-label">genre </label>
                      <div class="col-sm-9">
                        <input  type="text" class="form-control" id="genderCustomer" placeholder="Ex : ">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="typeCustomer" class="col-sm-3 col-form-label">type </label>
                      <div class="col-sm-9">
                        <input  type="text" class="form-control" id="typeCustomer" placeholder="Ex : Special">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="drinkCustomer" class="col-sm-3 col-form-label">Boisson</label>
                      <div class="col-sm-9">
                          <input type="text" id="drinkCustomer" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="dietCustomer" class="col-sm-3 col-form-label">Diet</label>
                      <div class="col-sm-9">
                          <input type="text" id="dietCustomer" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="dietCustomer" class="col-sm-3 col-form-label">Diet</label>
                      <div class="col-sm-9">
                          <input type="text" id="dietCustomer" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="smokeCustomer" class="col-sm-3 col-form-label">Droguerie</label>
                      <div class="col-sm-9">
                          <input type="text" id="smokeCustomer" class="form-control" />
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                    <button class="btn btn-danger">Effacer</button>
                  </form>
                </div>
              </div>
        </div>
       </div>
    </div>
 </div>
</div>
